.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin-left: -100px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.dice img {
  width: 120px;
  max-width: 100%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

#rollButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-items: center;
  transition: background-color 0.3s ease;
}

#rollButton:hover {
  background-color: #45a049;
}

@media (min-width: 768px) {
  .dice-container {
    flex-direction: row;
    justify-content: center;
  }
}

